
<div class="jumbotron center">
<h1>Welcome To My App</h1>
<p>It's going to kick butt as soon as it's ready.</p>
<%= link_to 'Login', new_user_session_path, class: 'btn btn-default' %>
<%= link_to 'Join', new_user_registration_path, class: 'btn btn-primary' %>
</div>